<h2>{{player.name}}</h2>
<img src="{{player.pic}}" alt="foto" width="240px" height="212px">
<p> Alter: {{formatBirthday player.date}}</p>
<p> {{player.bio}} </p>
<p> siehe mehr: <a href="{{player.wiki}}">{{player.wiki}}</p>
